
<!--Narrative Home Page-->
<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Narrative">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link href="assets/css/bootstrap-responsive.css" rel="stylesheet"> -->
        <title>Narrative</title>
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/aboutstyles.css">
    </head>
    <body class="background2">
        <div class="container">
            <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
                <a class="navbar-brand" id="navbarLogo" href="index.html">narrative. <!--<img src="img/logo.png" alt="Narrative logo" --></a>
            </div>
            <button type="button" id="navRightButton" class="btn btn-default navbar-right" href="/">
                <span class="glyphicon glyphicon-pencil" id="glyphAlign"></span><span id="navRightText">Compose</span>
            </button>
            </nav>
        </div>
      <h1>About</h1>
    <p>Narrative was created at <a href="seattleedu.startupweekend.org" target="_blank">Startup Weekend Edu Seattle</a> in 54 hours.</p>
    <p>At Narrative, we believe everyone is a writer but not everyone writes. We aim to change that. By empowering our users with a variety of tools designed to get them started and inspire creativity we make writing fun.</p>
    <p>Narrative was designed by teachers for students. It can be integrated with existing classroom cirriculums, but also caters to individual users eager to improve their writing ability.</p>
    <p>Connect with us <a href="https://www.facebook.com/mynarrativeco" target="_blank">on Facebook</a> and <a href="https://twitter.com/mynarrativeco" target="_blank">Twitter</a>, and stay tuned for exciting updates!</p>
    </body>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-45989520-1', 'mynarrative.co');
      ga('send', 'pageview');

    </script>
</html>
