<!--Narrative Home Page-->
<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Narrative">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link href="assets/css/bootstrap-responsive.css" rel="stylesheet"> -->
        <title>Narrative</title>
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/styles.css">
    </head>
    <body>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <div class="background2" style="background-image:url('{{imageURL}}')">
            <div class="container">
                <nav class="navbar navbar-inverse navbar-fixed-top">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">
                            narrative. <!--<img src="img/logo.png" alt="Narrative logo" -->
                        </a>
                    </div>
                </nav>
            </div>
            <!--3 column grid -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-9">
                        <div class="intro">
                            <h1>Share your story.</h1>
                        </div>
                        <div class="tagline">
                            <h3>To begin, use the photo and prompt to inspire you.</h3>
                        </div>
                        <!--Prompt Overlay -->

                        <h2 class="prompt-style prompt" data-promptid="{{_id}}">{{prompt}}</h2>
                        <div class="article-box" style="width:100%;height:150px;overflow:auto;">
                            <form method="post">
                                <div id="editable" contenteditable="true">
                                    <p>...</p>
                                </div>
                            </form>
                        </div>
                        <button type="button" class="btn btn-success btn-lg publishButton" name="publish">Publish</button>
                        <button type="button" class="btn btn-primary btn-lg imStuckText" id="the-thing-that-opens-your-alert" >I'm Stuck</button>

                    </div>
                    <div class="col-md-3">
                        <div class="box1">
                            <div id="alert" class="alert alert-info fade">
                                <button href="#" type="button" class="close">&times;</button>
                                <h3>Words from the wise</h3>
                                    <ul class="helpfulquotes">
                                        <li>Roses are red, violets are blue...</li>
                                        <li>Narrative is the best project at Startup Weekend</li>
                                        <li>If I had a child, I would name it narrative</li>
                                    </ul>
                            </div>
                            <!--<div id="alert2" class="alert alert-success fade">
                                <button href="#" type="button" class="close">&times;</button>
                                <h3>Think About this...</h3>
                                <p>How does this new picture incorperate with your narrative?</p>
                                </div>-->
                            <div id="alert2" class="alert alert-success fade">
                                <button href="#" type="button" class="close">&times;</button>
                                <h3>Weave these words into your work</h3>
                                    <ul class="helpfulwords">
                                        <li>Enterprise</li>
                                        <li>Failure</li>
                                        <li>Amazement</li>
                                        <li>Gituhub</li>
                                        <li>Narative</li>
                                    </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade publish-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">Share your story with the world.</h2>
                    </div>
                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group">
                                <label for="inputTitle">Title</label>
                                <input type="text" class="form-control titleName" id="inputTitle" placeholder="Name your story" required>
                            </div>
                            <div class="form-group">
                                <label for="inputName">Name</label>
                                <input type="name" class="form-control authorName" id="name" placeholder="Sign your work" required>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-default btn-abandon finalPublishButton">Publish</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
        </div>

        <footer role="contentinfo" class="bs-footer">
              <div class="container">
                <span class="foot-fb">
                    <div class="fb-like" data-href="http://mynarrative.co" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
                </span>

                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://mynarrative.co" data-via="mynarrativeco" data-lang="en">Tweet</a>
            </div>
        </footer>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="ckeditor/ckeditor.js"></script>
    <script src="ckeditor/config.js"></script>
    <script src="js/sidemenu.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="js/narrative.js"></script>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</html>