<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Narrative">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Community Articles</title>
        <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/styles.css">
        <link rel="stylesheet" type="text/css" href="css/narratives.css">
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">narrative. <!--<img src="img/logo.png" alt="Narrative logo" --></a>
            </div>
            <p class="navbar-text navbar-right"><a href="/#">+New</a>
            </nav>
        </div>

        <div class="container mainContent">
            <div class="row">
                <div class="panel panel-default widget">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-comment"></span>
                        <h3 class="panel-title">
                            Recent Narratives</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            {{#each narratives}}
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-xs-4 col-md-2">
                                        <img src="{{thumbURL}}" class="img-thumbnail img-responsive thumbnail" alt="" />
                                    </div>
                                    <div class="col-xs-8 col-md-10">
                                        <div>
                                            <a href="http://www.jquery2dotnet.com/2013/10/google-style-login-page-desing-usign.html">{{title}}</a>
                                            <div class="mic-info">
                                                By: <a href="#">{{author}}</a> on {{date}}
                                            </div>
                                        </div>
                                        <div class="comment-text">
                                            Awesome design
                                        </div>
                                    </div>
                                </div>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>