<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Narrative">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Community Articles</title>
        <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/styles.css">
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">Narrative <!--<img src="img/logo.png" alt="Narrative logo" --></a>
            </div>
            <p class="navbar-text navbar-right"><a href="/#">+New</a>
            </nav>
        </div>

        <div class="middlenav">
            <ul class="nav nav-pills">
              <li class="active"><a href="#">Latest</a></li>
              <li><a href="#">Popular</a></li>
              <li><a href="#">My Narratives</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <ul class="photos">
                    {{#each narratives}}
                    <li class="photo" style='background-image:"{{imageURL}}"'>
                        <div class="description">
                            <span class="description_content_left">{{prompt}}</span>
                            <span class="description_content_right">{{author}}<br />{{date}}</span>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
            <div class="col-md-2"></div>
        </div>
    </body>
</html>