<!doctype html>
<html>
        <head>
                <meta charset="UTF-8">
                <meta name="description" content="Narrative">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
                <title>Community Articles</title>
                <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
                <link rel="stylesheet" type="text/css" href="css/styles.css">
        </head>
        <body>
                <div class="container">                      
                        <nav class="navbar navbar-inverse navbar-fixed-top">
                        <div class="navbar-header">
                                <a class="navbar-brand" href="index.html">Narrative <!--<img src="img/logo.png" alt="Narrative logo" --></a>
                        </div>
                        <p class="navbar-text navbar-right"><a href="/#">+New</a>
                        </nav>
                </div>

                <div class="middlenav">
                        <ul class="nav nav-pills">
                          <li class="active"><a href="#">Latest</a></li>
                          <li><a href="#">Popular</a></li>
                          <li><a href="#">My Narratives</a></li>
                        </ul>
                </div>
                        <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-8">
                        <div class="photo">
                                <!--<img class="pic" src="img/pic.jpg" height="400" width="800" alt="temporary picture"></img>-->
                                <div class="description">
                                        <span class="description_content_left">
                                             She opened the door and thought...
                                    </span>
                                    <span class="description_content_right">Vinny Pasceri<br />11/22/2013</span>
                                </div>
                        </div>
                        </div>
                        <div class="col-md-2"></div>        
                        </div>
        </body>
</html>