<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="reading">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/styles.css">
	<title>Reading</title>
</head>
<body>
	<div class="container">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">narrative. <!--<img src="img/logo.png" alt="Narrative logo" --></a>
            </div>
            <p class="navbar-text navbar-right"><a href="/#">+New</a>
        </nav>
	        <div class="story">

	        	<!--SPAN Placeholders for dynamic input, example text provided (can delete later)  -->
	        	<h1><span class="title"></span></h2>
				<h1>Blurred Reality</h1>

				<h3><span class="author"></span></h3>
				<h3>by Sarah V.</h3>

				<p><span class="text"></span></p>
				<p>Bacon ipsum dolor sit amet tempor shankle ut, ut beef anim pork esse. Ullamco brisket consectetur, ribeye jowl magna cow ea nulla bresaola shoulder fugiat pastrami mollit. Anim ground round nostrud capicola esse. Laboris leberkas meatloaf aute strip steak ea pork belly.

				Meatloaf capicola turkey ham pastrami labore doner. Laborum in beef ribs pork belly frankfurter. Officia short loin filet mignon, kielbasa spare ribs irure culpa andouille flank pancetta magna cupidatat. Spare ribs excepteur commodo pork chop, fatback est aliqua bacon quis. Meatloaf sunt drumstick ham hock chicken pastrami.

				Tongue venison exercitation, short ribs et commodo fatback turducken boudin in. Swine bresaola cupidatat, shankle cow velit mollit magna pariatur sausage pork belly venison dolor ground round. Ut filet mignon commodo, non ribeye turducken meatloaf esse kielbasa veniam in. Beef ribeye id cupidatat dolore, sint aliquip enim bresaola t-bone.

				Esse aute dolore pancetta. Pork loin hamburger drumstick filet mignon meatloaf magna, jowl ut reprehenderit deserunt. Brisket short loin ball tip ex venison. Ribeye minim sunt turkey, deserunt tongue short ribs. Ut dolore quis t-bone fatback. Id minim jowl, filet mignon beef dolor ea.</p>

				<p><span class="date"></span>
				<p>Published on 11/23/13</p>

				<ul class="pager">
				  <li><a href="#">Back</a></li>
				  <li><a href="#">Next</a></li>
				</ul>
			</div>
		</div>
    </div>
</body>
</html>