<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="reading">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/styles.css">
	<title>Reading</title>
</head>
<body>
	<div class="container">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
                <a class="navbar-brand" id="navbarLogo" href="/">narrative. <!--<img src="img/logo.png" alt="Narrative logo" --></a>
            </div>
            <button type="button" id="navRightButton" class="btn btn-default navbar-right" href="/">
  				<span class="glyphicon glyphicon-pencil" id="glyphAlign"></span><span id="navRightText">Compose</span>
			</button>
        </nav>
	        <div class="story">
	        	<h1><span class="title"></span></h2>
				<h1>{{title}}</h1>

				<h3><span class="author"></span></h3>
				<h3>by {{author}}</h3>

				<p><span class="text"></span></p>
				<div class="readingContent">{{{content}}}</div>

				<p><span class="date"></span>
				<p>Published on {{date}}</p>
				<p><a id="backLink" href="../narratives"><br />&lt; Back</a>
			</div>
		</div>
    </div>
</body>
</html>