<!--Narrative Home Page-->

<!doctype html>
<html>
        <head>
                <meta charset="UTF-8">
                <meta name="description" content="Narrative">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link rel="shortcut icon" href="img/logo.png">
                <title>Narrative</title>
                <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
                <link rel="stylesheet" type="text/css" href="css/styles.css">
        </head>
        <body>

                <div class="container">                      
                        <nav class="navbar navbar-inverse navbar-fixed-top">
                        <div class="navbar-header">
                                <a class="navbar-brand" href="index.html">Narrative <!--<img src="img/logo.png" alt="Narrative logo" --></a>
                        </div>
                        </nav>
                </div>
                        
                        <!--Inspiration image banner -->
                        <img class="pic" src="img/pic.jpg" height="400" width="1200" alt="temporary picture"> 

                        <!--Prompt Overlay -->
                        <span class="prompt"></span>

                        <!--3 column grid -->
                        <div class="row">
                                <div class="col-md-8">
                                        <div class="article-box">
                                                <textarea placeholder="Tell us your story..." rows="100" cols="100"></textarea>
                                        </div> 
                                </div>
                                <div class="col-md-2">
                                    <div id="wrap">
                                      <!-- Begin page content -->
                                    <div id="footer">
                                      <div class="container">
                                        <p class="text-muted credit">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                    Publish<span class="caret caret-up"></span>
                                                </button>
                                                <ul class="dropdown-menu drop-up" role="menu">
                                                    <li><a href="#">To Myself</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="#">To Everyone</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="#">To My Class</a></li>
                                                </ul>
                                            </div>
                                        </p>
                                      </div>
                                    </div>
                                    

                                </div>
                              </div>
                                <div class="col-md-2">
                                    <div class="container">
                                        <div class="row">
                                            <hr>
                                            <div class="dropdown">
                                                <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary" data-target="#" href="/page.html">
                                                    Inspire Me <span class="caret"></span>
                                                </a>
                                                <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                                                  <li><a href="#">With Words</a></li>
                                                  <li class="divider"></li>
                                                  <li><a href="#">With Pictures</a></li>
                                                  <li class="divider"></li>
                                                  <li><a href="#">With Sounds</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
        </body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</html>