<!--Narrative Home Page-->

<!doctype html>
<html>
        <head>
                <meta charset="UTF-8">
                <meta name="description" content="Narrative">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <!-- <link href="assets/css/bootstrap-responsive.css" rel="stylesheet"> -->
                <title>Narrative</title>
                <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
                <link rel="stylesheet" type="text/css" href="css/styles.css">
                <script src="ckeditor/ckeditor.js"></script>
                <script src="ckeditor/config.js"></script>
                
        </head>
        <body class="background2">
                <div class="container">                      
                        <nav class="navbar navbar-inverse navbar-fixed-top">
                        <div class="navbar-header">
                                <a class="navbar-brand" href="index.html">Narrative <!--<img src="img/logo.png" alt="Narrative logo" --></a>
                        </div>
                        </nav>
                </div>
                        <!--Prompt Overlay -->
                        <span class="prompt"></span>

                        <!--3 column grid -->
                        <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-8">
                                    <div class="article-box">
                                        <form method="post">
                                            <div id="editable" contenteditable="true">
                                                <p>The div element that contains this text is now editable.
                                            </div>
                                            <script>
                                                // Turn off automatic editor creation first.
                                                CKEDITOR.disableAutoInline = true;
                                                CKEDITOR.inline( 'editable' );
                                            </script>

                                            <!--<p>
                                                <textarea id="editor1">Tell us your story...</textarea>
                                                <script>
                                                    CKEDITOR.replace( 'editor1', {
                                                        toolbar: 'Basic'
                                                    });
                                                </script>
                                            </p>
                                            <p>
                                                <input type="submit">
                                            </p>
                                        -->
                                        </form>
                                    </div> 
                                </div>
                                <div class="col-md-2"></div>
                        </div>
                </div>     
        <script>
            var data = CKEDITOR.instances.editable.getData();

             // Your code to save "data", usually through Ajax.
        </script>                 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</html>