

.deBackground {
     min-height: 100px;
     min-width: 100px;
     background-image: url('../Images/YourImage.png');
     background-repeat: no-repeat;
     background-size: cover;
     background-position: bottom right;
     height:100%;
     width:100%;
     position:relative;
}