/*Stype properties for Narrative creation page.

*/


.background2 {
	background-image: url('../img/mount.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 1000px;
	position: relative;
}
  
.article-box {
	max-width: 70%;
	margin: 51px auto 0 auto;
} 

textarea {
	border: 0px;
}




